**/[bB]in/
**/[oO]bj/
/packages/
riderModule.iml
/_ReSharper.Caches/
**/.idea/

# Visual Studio 2015/2017/2019 cache/options directory
Backend/SignalR/.vs/
.vscode
*.pubxml

# Locally stored logs
Logs/

#ncrunch solution
*.ncrunchsolution.user
*.user
*.ncrunchsolution
_NCrunch_*/
