<h1>Groups</h1>
<div>
    <button (click)="getGroups()">Get groups</button>
    <p>{{this.allGroups}}</p>
</div>
<div>
    <h3>Enter the group that you wish to join or create</h3>
    <p><input type="text" name="groupToLeave" #groupToJoin></p>
    <h1> {{groupToJoin.value}}</h1>
    <button (click)="joinGroup(groupToJoin.value)">Join Group</button>
</div>

<div>
    <h3>Enter the group name that you wish to leave</h3>
    <p><input type="text" name="groupToLeave" #groupToLeave></p>
    <h1> {{groupToLeave.value}}</h1>
    <button (click)="leaveGroup(groupToLeave.value)">Leave Group</button>
</div>

